/* ===============================
   フォント読み込み
=============================== */

@font-face { font-family: "Circle"; src: url("fonts/Circle-Regular.ttf"); }
@font-face { font-family: "Triangle"; src: url("fonts/Triangle-Regular.ttf"); }
@font-face { font-family: "Triangle2"; src: url("fonts/Triangle2-Regular.ttf"); }
@font-face { font-family: "Square"; src: url("fonts/Square-Regular.ttf"); }
@font-face { font-family: "Diamond"; src: url("fonts/Diamond-Regular.ttf"); }
@font-face { font-family: "Side"; src: url("fonts/Side-Regular.ttf"); }
@font-face { font-family: "Vertical"; src: url("fonts/Vertical-Regular.ttf"); }

/* ===============================
   共通
=============================== */

body {
  margin: 0;
  font-family: serif;
  background: #ffffff;
  color: #414141;
}

header {
  padding: 12px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background: #fff;
  border-top: 1px solid #ddd;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* ---------- parts ---------- */

.menu-wrapper {
  position: relative;
  z-index: 10000;
}

.menu-wrapper .hamburger__btn {
  z-index: 101;
  width: 30px;
  height: 17px;
  position: absolute;
  top: -10px;
  /* right: 0px; */
  left:   1px;
}
.menu-wrapper .bar {
  width: 30px;
  height: 3px;
  display: block;
  position: absolute;
  left: 50%;
  background-color: #4e4e4e;
  transition: all 0.3s ease;
}

.menu-wrapper .bar-top {
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.menu-wrapper .bar-center {
  top: 7px;
  transform: translateX(-50%);
}
.menu-wrapper .bar-bottom {
  bottom: 0;
  transform: translateX(-50%);
}
.menu-wrapper .hamburger__btn.close .bar-top {
  transform: translate(-50%, 10px) rotate(45deg);
}
.menu-wrapper .hamburger__btn.close .bar-middle {
  opacity: 0;
}
.menu-wrapper .hamburger__btn.close .bar-center {
  display: none;
}
.menu-wrapper .hamburger__btn.close .bar-bottom {
  transform: translate(-50%, -5px) rotate(-45deg);
}

/* MENU LIST */
.menu-wrapper .menu-lists {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  opacity: 0;
  visibility: hidden;
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  z-index: 9999;
}

.menu-wrapper .menu-lists::-webkit-scrollbar {
  display: none;
}

.menu-wrapper .menu-lists.show {
  opacity: 1;
  visibility: visible;
}

.menu-wrapper .nav__list {
  max-width: 840px;
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  border-top: 1px solid #eee;
}

.menu-wrapper .nav__link {
  display: block;
  padding: 15px 0;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

/* -------------------------------------------------
   ▼▼ ここから フェードインアニメーション ▼▼
--------------------------------------------------- */

/* navアイテム：初期状態 */
.nav__item {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

/* メニューが開いたとき */
.menu-lists.show .nav__item {
  opacity: 1;
  transform: translateY(0);
}

/* 順番に表示 */
.menu-lists.show .nav__item:nth-child(1) {
  transition-delay: 0.1s;
}
.menu-lists.show .nav__item:nth-child(2) {
  transition-delay: 0.2s;
}
.menu-lists.show .nav__item:nth-child(3) {
  transition-delay: 0.3s;
}



/* ===============================
   一覧ページ
=============================== */
.selectbox {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.selectbox::after {
    position: absolute;
    right: 100px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectbox select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: none;
    border-bottom: 2px solid #d0d0d0;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
    margin-left: 20px; 
}

.selectbox select:focus {
    outline: none;
}

